%main.main-chat
  .current-group
    .current-group__info
      .current-group__name
        = @group.name
      %ul.current-group__member-list
        Member：
        - @group.users.each do |user|
          %li.current-group__member
            = user.name
    = link_to 'Edit', edit_group_path(@group), class: 'current-group__edit-btn'

  %article.messages
    = render @messages


  .form
    = form_with model: [@group, @message], html: { class: 'form_fields' }, local: true do |f|
      = f.text_field :content, placeholder: 'type a message', class: 'form__content'
        = f.label :image, class: 'form__image-label' do
          = icon 'fas', 'image'
          = f.file_field :image, class: 'form__file'
    = f.submit 'Send', class: 'send-btn'
